input{
    height: max-content;
    width: 90%;
    font-size: large;    
}

.dialog-items {
    overflow: auto;
    width: 30vw;
    height: 20vw;
}

.dialog-item span:nth-of-type(1){
    font-size: 12px;
    display: flex;
    flex: row;
}

.dialog-item span:nth-of-type(2){
    font-size: smaller;
}

.dialog-item svg {
    width: 15px;
    height: 15px;
    padding-right: 5px;
    margin-right: 10px;
}

.dialog-item{
   margin-bottom: 5px;
   white-space: nowrap;
   overflow: hidden; /* Optional: Hides overflowing content */
   text-overflow: ellipsis;
   background-color: rgb(243, 238, 238);
   padding: 5px;
   border-radius: 5px;
}